<!-- Default home page -->
<html>
<head>
    <title>Cuttle Game View</title>
</head>
<body ng-app='gameView'>
    <div ng-controller='gameViewController as gameView' ng-cloak class='container-fluid' id='container'>
        <!-- Top Wrap -->
        <div></div>
        <!-- Middle Wrap -->
        <div id='midWrap' class='row'>
            <div class="col-xs-2 col-md-2" id='deckScrap'>
                <img src="images/deck.jpg" id='deck'></img>
                <img src="images/scrap.jpg" id='scrap'></img>
            </div>
            <div class="col-xs-4 col-md-4 field row" id='points' drop="handleDrop" bin="points" >
                Points
                <!-- <img ng-repeat='card in gameView.game.players[gameView.pNum].points track by $index' ng-src='{{card.image}}'></img> -->
                <div id='yourPoints' droppable drop="handleDrop" bin="points"></div>
            </div>
            <div class="col-xs-4 col-md-4 field row" id='runes'>Runes
                <!-- <img src='../images/bicycleBackBlue.jpg'></img> -->

            </div>
            <div class="col-xs-2 col-md-2" id='gameLog'>
                <li ng-repeat='post in gameView.game.log' class='post'>{{post}}</li>
            </div>
        </div>
        <!-- Bottom Wrap -->
        <div id='bottomWrap' class='row'>
            <div id='yourHand'>
                <img ng-repeat='card in gameView.game.players[gameView.pNum].hand track by $index' ng-src='{{card.image}}' class="cardInHand" index='{{$index}}' draggable item="item" id="handCard{{$index}}">{{item}}</img>
            </div>
        </div>
    </div>
</body>
</html>