<!-- Default home page -->
<html>
<head>
    <title>Cuttle Game View</title>
</head>
<body ng-app='gameView'>
    <div ng-controller='gameViewController as gameView' ng-cloak class='container-fluid' id='container'>
        <!-- Top Wrap -->
        <div id ='topWrap' class='row'>
            <div id="oppHand">
                <img ng-repeat='card in gameView.game.players[1].hand track by $index' ng-src='{{card.image}}' class="cardInOppHand" index='{{$index}}' draggable item="item" id="oppHandCard{{$index}}">
                {{item}}</img>
            </div>
        </div>
        <!-- Middle Wrap -->
        <div id='midWrap' class='row'>
            <div class="col-xs-2 col-md-2" id='deckScrap'>
                <img src="images/deck.jpg" id='deck'></img>
                <img src="images/scrap.jpg" id='scrap'></img>
            </div>
            <div class="col-xs-4 col-md-4 field row" id='points'>
                <div id="oppPoints">
                     <img ng-repeat='card in gameView.game.players[(gameView.pNum + 1) % 2].points track by $index' ng-src='{{card.image}}' class="oppPlayed" index='{{$index}}' id="runeCard{{$index}}"></img>
                </div>
                <p>Points</p>
                <!-- <img ng-repeat='card in gameView.game.players[gameView.pNum].points track by $index' ng-src='{{card.image}}'></img> -->
                <div id='yourPoints' droppable drop="handleDropPoints" bin="points">
                    <img ng-repeat='card in gameView.game.players[gameView.pNum].points track by $index' ng-src='{{card.image}}' class="played" index='{{$index}}' id="pointCard{{$index}}"></img>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 field row" id='runes'>
                <div id="oppRunes">
                    <img ng-repeat='card in gameView.game.players[(gameView.pNum + 1) % 2].runes track by $index' ng-src='{{card.image}}' class="oppPlayed" index='{{$index}}' id="runeCard{{$index}}"></img>
                </div>
                <p>Runes</p>
                <!-- <img src='../images/bicycleBackBlue.jpg'></img> -->
                <div id='yourRunes' droppable drop="handleDropRunes" bin="runes">
                    <img ng-repeat='card in gameView.game.players[gameView.pNum].runes track by $index' ng-src='{{card.image}}' class="played" index='{{$index}}' id="runeCard{{$index}}"></img></div>

            </div>
            <div class="col-xs-2 col-md-2" id='gameLog'>
                <li ng-repeat='post in gameView.game.log' class='post'>{{post}}</li>
            </div>
        </div>
        <!-- Bottom Wrap -->
        <div id='bottomWrap' class='row'>
            <div id='yourHand'>
                <img ng-repeat='card in gameView.game.players[gameView.pNum].hand track by $index' ng-src='{{card.image}}' class="cardInHand" index='{{$index}}' draggable item="item" id="handCard{{$index}}">{{item}}</img>
            </div>
            <p id="winCon">
                Win Condition:
                {{gameView.yourPointCap}}
            </p>
            <div id="yourCounter">
                <div>
                    <div id="yourKingSlot1" class="kingSlot" ng-class="{fullKing: gameView.yourPointCap <= 14}"><p class="cap1">14</p></div>
                    <div id="yourKingSlot2" class="kingSlot" ng-class="{fullKing: gameView.yourPointCap <= 10}"><p class="cap2">10</p></div>
                </div>
                <div>
                    <div id="yourPointTotal" class="pointTotal">
                        <div>{{gameView.yourPointTotal}}
                        </div>
                    </div>
                </div>
                <div>
                    <div id="yourKingSlot3" class="kingSlot" ng-class="{fullKing: gameView.yourPointCap <= 7}"><p class="cap3">7</p></div>
                    <div id="yourKingSlot4" class="kingSlot" ng-class="{fullKing: gameView.yourPointCap <= 5}"><p class="cap4">5</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>