html, body {
	height: 99%;
	border-style: dashed;
}

#container{
	background-image: url("../images/woodenTableImage.jpg");
	background-size: 100% auto;
	width: 100%;
	height: 100%;
}

#points{
	background-image: url("../images/pokerTableFelt.jpg");
	display: inline-block;
	opacity: 0.8;
	border-radius: 7px;
	border-color: #5E5908;
	border-style: dashed;
	/*Changes where the text appears*/
	font-size: 35px;
	text-align: center;
	padding-top: 180px;
	/*Changes position relative to where the image WOULD be*/
	position: fixed;
	/*Changes the position of the box*/
	left: 320px;
	top: 175px;
	height: 200px;
	width: 600px;
}

#runes{
	background-image: url("../images/pokerTableFelt.jpg");
	display: inline-block;
	opacity: 0.8;
	border-radius: 7px;
	border-color: #5E5908;
	border-style: dashed;
	font-size: 35px;
	text-align: center;
	padding-top: 180px;
	position: fixed;
	left: 940px;
	top: 175px;
	height: 200px;
	width: 600px;
}

#yourRunes {
	display: inline-block;
	opacity: 0.8;
	border-radius: 7px;
	border-color: #5E5908;
	border-style: dashed;
	/*Changes where the text appears*/
	font-size: 35px;
	text-align: center;
	/*Changes position relative to where the image WOULD be*/
	position: relative;

	max-height: 65%;
	min-height: 65%;
	width: 100%;
	top: 15px;

}

#yourPoints {
	display: inline-block;
	opacity: 0.8;
	border-radius: 7px;
	border-color: #5E5908;
	border-style: dashed;
	/*Changes where the text appears*/
	font-size: 35px;
	text-align: center;
	/*Changes position relative to where the image WOULD be*/
	position: relative;

	max-height: 65%;
	min-height: 65%;
	width: 100%;
	top: 15px;

}
#deck {
	position: fixed;
	top: 180px;
	left: 40px;
}

#scrap {
	position: fixed;
	top:400px;
	left: 40px;
}

#gameLog {
	position: fixed;
	overflow: auto;
	width: 200px;
	left: 1600px;
	top: 180px;
	display: inline-block;
	height: 380px;
	border-radius: 10px;
	background-color: #F0C4B3;
}

.post {
	position: relative;
	left: 5px;
}

#bottomWrap {
	position: relative;
	top: 70%;
}

#topWrap {
	position: relative;
	top: 3%;
}

#oppHand {
	position: absolute;
	left: 35%;
}

#yourHand {
	position: absolute;
	left: 10%;
	width: 100%;
}

.cardInHand{
	position: relative;
	display: inline-block;
	margin-left: 2%;
	height: 50%;
	bottom: 15%;
}

.cardInOppHand {
	position: relative;
	display: inline-block;
	margin-left: 2%;
	height: 50%;
	width: 15%;
}

.over{
	position: relative;
	background-color: green;
	opacity: 40%;
}
.played{
	position: relative;
	top: 10px;
	height: 125px;
}